@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import "tailwindcss";


@theme {
  --color-peach: #FFE4DB;
  --color-blue: #90CAF9;
  --color-off-white: #F4F1E6;
  --color-teal: #80CBC4;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
